*.exe
*.app
export.mid
portaudio-19.7.0/x64/Release/*
portaudio_x64.dll
/build
miseq.app.dSYM
1.mid
xcode_miseq.xcodeproj/project.xcworkspace/*
xcode_miseq.xcodeproj/xcuserdata/iaroslav.erokhin.xcuserdatad/xcschemes/*
